In [1]:
import pyupbit

In [ ]:
# BTC 최근 200시간의 data load
df = pyupbit.get_ohlcv("KRW-BTC", count=10000)
df

,open,high,low,close,volume,value
2017-09-25 09:00:00,4201000.0,4333000.0,4175000.0,4322000.0,132.484755,5.602146e+08
2017-09-26 09:00:00,4317000.0,4418000.0,4311000.0,4321000.0,22.788340,9.950724e+07
2017-09-27 09:00:00,4322000.0,4677000.0,4318000.0,4657000.0,32.269662,1.448276e+08
2017-09-28 09:00:00,4657000.0,4772000.0,4519000.0,4586000.0,80.588243,3.721860e+08
2017-09-29 09:00:00,4586000.0,4709000.0,4476000.0,4657000.0,59.352373,2.724558e+08
...,...,...,...,...,...,...
2022-04-09 09:00:00,52934000.0,53355000.0,52754000.0,53258000.0,2253.816753,1.195229e+11
2022-04-10 09:00:00,53295000.0,53950000.0,52462000.0,52819000.0,2289.320776,1.217211e+11
2022-04-11 09:00:00,52799000.0,53060000.0,50010000.0,50050000.0,5382.926050,2.779839e+11
2022-04-12 09:00:00,50050000.0,51195000.0,49608000.0,50577000.0,4730.164656,2.381793e+11
2022-04-13 09:00:00,50577000.0,50615000.0,49936000.0,50348000.0,870.212845,4.379863e+10

In [ ]:
# 시간(ds)과 종가(y)값만 남긴다
df = df.reset_index()
df['ds'] = df['index']
df['y'] = df['close']
data = df[['ds','y']]
data

                      ds           y
0    2017-09-25 09:00:00   4322000.0
1    2017-09-26 09:00:00   4321000.0
2    2017-09-27 09:00:00   4657000.0
3    2017-09-28 09:00:00   4586000.0
4    2017-09-29 09:00:00   4657000.0
...                  ...         ...
1657 2022-04-09 09:00:00  53258000.0
1658 2022-04-10 09:00:00  52819000.0
1659 2022-04-11 09:00:00  50050000.0
1660 2022-04-12 09:00:00  50577000.0
1661 2022-04-13 09:00:00  50348000.0

[1662 rows x 2 columns]

In [ ]:
# prophet 불러 옴
from fbprophet import Prophet

Importing plotly failed. Interactive plots will not work.

In [ ]:
# Training
model = Prophet()
model.fit(data)

INFO:numexpr.utils:NumExpr defaulting to 8 threads.
INFO:numexpr.utils:NumExpr defaulting to 8 threads.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

KeyError: 'metric_file'

KeyError: 'metric_file'

In [ ]:
# 24시간 미래 예측
future = model.make_future_dataframe(periods=24, freq='H')
forecast = model.predict(future)

In [ ]:
# Graph1
fig1 = model.plot(forecast)

In [ ]:
fig2 = model.plot_components(forecast)

In [ ]:
# 매수 시점 가격
nowValue = pyupbit.get_current_price("KRW-BTC")
nowValue

In [ ]:
# 종가의 가격을 구함

# 현재 시간이 자전 이전일 때
closeDf = forecast[forecast['ds'] == forecast.iloc[-1]['ds'].replace(hour=9)]

# 현재 시간이 자정 이후일 때
if len(closeDf) == 0:
    closeDf = forecate[forecast['ds'] == data.iloc[-1]['ds'].replace(hour=9)]

closeValue = closeDf['yhat'].values[0]

In [ ]:
closeValue